*
!/.gitignore
!/.nojekyll
!/index.html
!/style.css
!/app.js
!/assets/
/assets/*
!/assets/topographic-mountains.png
!/assets/topographic-ridge.png
!/assets/avalanche2.png
!/assets/skitouring.png
!/assets/Eiger_Free_FW2627_Marecottes_08.jpg
!/assets/Eiger_Free_FW2627_Marecottes_09.jpg
!/assets/Eiger_Free_FW2627_Marecottes_10.jpg
!/assets/Eiger_Free_FW2627_Marecottes_15.jpg
!/assets/Eiger_Free_FW2627_Marecottes_17.jpg
!/assets/Eiger_Free_FW2627_Marecottes_64.jpg
!/assets/inspiration-01.mp4
!/assets/inspiration-02.mp4
!/assets/inspiration-03.mp4
!/assets/inspiration-04.mp4
!/assets/inspiration-05.mp4
